.change {
    width: 50%;
    text-align: center;
}

.roll {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 5px;
    visibility: visible;
}

li {
    list-style: none outside none;
}

.page {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    width: 50%;
    box-sizing: border-box;
    text-align: left;
    line-height: 40px;
    padding: 5px;
}

.name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 10px;
}

.rollname::after {
    content: "收起";
    color: #939393;
    font-size: small;
    cursor: pointer;
}

.nh::after {
    content: "展开";
}

.rollname {
    display: flex;
    justify-content: space-between;
    font-size: larger;
    padding: 10px 16px;
    margin-bottom: 0px;
    background-color: #EAE7DE;
}

a {
    font-size: medium;
}

@media only screen and (max-aspect-ratio: 2/3) {
    .page {
        width: 100%;
        line-height: 50px;
    }

    .rollname {
        padding: 16px 20px;
        font-size: xx-large;
    }

    .rollname::after {
        font-size: medium;
    }

    a {
        font-size: xx-large;
    }
}
